.td-style {
  border-bottom: 2px solid rgba(0, 0, 0, 0.146);
  height: 45px;
}
.td-style:hover {
  background-color: rgba(204, 204, 204, 0.375)
}
.btns {
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.button {
  height: 100%;
  border-left: 2px solid rgba(0, 0, 0, 0.146);
}
.title {
  margin: 3% 2.5%;
  font-weight: 900;
}
.span-text {
  height: 100%;
  border-left: 2px solid rgba(0, 0, 0, 0.146);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: small;
  font-weight: 600;
}
